@keyframes deslizamiento_izquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes deslizamiento_derecha {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animacion_desliz_izquierda {
    animation: deslizamiento_izquierda 1s ease-in-out;
}

.animacion_desliz_derecha {
    animation: deslizamiento_derecha 1s ease-in-out;
}